In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("zameen-karachi-dataset.csv")
df.head(5)

,Unnamed: 0,area,atm machines,barbeque area,bathrooms,baths,bedrooms,beds,broadband internet access,built in year,...,sauna,security staff,servant quarters,service elevators in building,steam room,store rooms,study room,swimming pool,type,waste disposal
0,0,55,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,Flat,1
1,1,150,0,0,0,4,4,4,0,2022,...,0,0,0,0,0,0,0,0,House,0
2,2,500,0,0,6,6,5,5,0,0,...,0,1,1,0,0,0,1,0,House,1
3,3,42,0,1,1,1,1,1,1,0,...,0,1,0,1,0,1,0,0,Flat,1
4,4,152,0,1,4,4,3,3,1,2022,...,1,1,1,0,1,1,1,1,House,1

In [3]:
df = df.drop([df.columns[0]], axis=1)

In [4]:
df.columns

Index(['area', 'atm machines', 'barbeque area', 'bathrooms', 'baths',
       'bedrooms', 'beds', 'broadband internet access', 'built in year',
       'business center or media room in building', 'cctv security',
       'central air conditioning', 'central heating',
       'communal/shared kitchen', 'community centre', 'community gym',
       'community lawn or garden', 'community swimming pool',
       'conference room in building', 'day care centre', 'dining room',
       'distance from airport (kms)', 'double glazed windows', 'drawing room',
       'electricity backup', 'elevators', 'facilities for disabled',
       'first aid or medical centre', 'floor', 'flooring', 'floors',
       'floors in building', 'furnished', 'gym', 'intercom', 'jacuzzi',
       'kids play area', 'kitchens', 'laundry or dry cleaning facility',
       'laundry room', 'lawn or garden', 'lobby in building', 'location',
       'lounge or sitting room', 'maintenance staff', 'mosque',
       'nearby hospitals', 'nearby public transport service',
       'nearby restaurants', 'nearby schools', 'nearby shopping malls',
       'other business and communication facilities',
       'other community facilities', 'other facilities',
       'other healthcare and recreation facilities', 'other main features',
       'other nearby places', 'other rooms', 'parking spaces', 'pet policy',
       'powder room', 'prayer room', 'price', 'public parking', 'purpose',
       'satellite or cable tv ready', 'sauna', 'security staff',
       'servant quarters', 'service elevators in building', 'steam room',
       'store rooms', 'study room', 'swimming pool', 'type', 'waste disposal'],
      dtype='object')

In [5]:
df.describe()

,area,atm machines,barbeque area,bathrooms,baths,bedrooms,beds,broadband internet access,built in year,business center or media room in building,...,satellite or cable tv ready,sauna,security staff,servant quarters,service elevators in building,steam room,store rooms,study room,swimming pool,waste disposal
count,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,...,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000,23022.000000
mean,240.850795,0.062549,0.143385,2.103770,3.659456,2.064808,3.532925,0.228173,329.449049,0.071844,...,0.220876,0.071584,0.220181,0.196551,0.083225,0.090913,0.268830,0.207410,0.034532,0.207671
std,241.761005,0.242155,0.350472,2.523415,1.612526,13.485445,1.498309,0.419664,806.404582,0.258236,...,0.414846,0.257803,0.414377,0.574255,0.276228,0.287492,0.630695,0.405461,0.182596,0.405649
min,11.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,120.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,189.000000,0.000000,0.000000,2.000000,3.000000,2.000000,3.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,289.000000,0.000000,0.000000,3.000000,5.000000,3.000000,4.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,12500.000000,1.000000,1.000000,62.000000,10.000000,2022.000000,12.000000,1.000000,20222.000000,1.000000,...,1.000000,1.000000,1.000000,23.000000,1.000000,1.000000,50.000000,1.000000,1.000000,1.000000

In [6]:
df.isna().sum()

area              0
atm machines      0
barbeque area     0
bathrooms         0
baths             0
                 ..
store rooms       0
study room        0
swimming pool     0
type              0
waste disposal    0
Length: 76, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23022 entries, 0 to 23021
Data columns (total 76 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   area                                         23022 non-null  int64
 1   atm machines                                 23022 non-null  int64
 2   barbeque area                                23022 non-null  int64
 3   bathrooms                                    23022 non-null  int64
 4   baths                                        23022 non-null  int64
 5   bedrooms                                     23022 non-null  int64
 6   beds                                         23022 non-null  int64
 7   broadband internet access                    23022 non-null  int64
 8   built in year                                23022 non-null  int64
 9   business center or media room in building    23022 non-null  int64
 10  cctv security                                23022 non-null  int64
 11  central air conditioning                     23022 non-null  int64
 12  central heating                              23022 non-null  int64
 13  communal/shared kitchen                      23022 non-null  int64
 14  community centre                             23022 non-null  int64
 15  community gym                                23022 non-null  int64
 16  community lawn or garden                     23022 non-null  int64
 17  community swimming pool                      23022 non-null  int64
 18  conference room in building                  23022 non-null  int64
 19  day care centre                              23022 non-null  int64
 20  dining room                                  23022 non-null  int64
 21  distance from airport (kms)                  23022 non-null  int64
 22  double glazed windows                        23022 non-null  int64
 23  drawing room                                 23022 non-null  int64
 24  electricity backup                           23022 non-null  int64
 25  elevators                                    23022 non-null  int64
 26  facilities for disabled                      23022 non-null  int64
 27  first aid or medical centre                  23022 non-null  int64
 28  floor                                        23022 non-null  int64
 29  flooring                                     23022 non-null  int64
 30  floors                                       23022 non-null  int64
 31  floors in building                           23022 non-null  int64
 32  furnished                                    23022 non-null  int64
 33  gym                                          23022 non-null  int64
 34  intercom                                     23022 non-null  int64
 35  jacuzzi                                      23022 non-null  int64
 36  kids play area                               23022 non-null  int64
 37  kitchens                                     23022 non-null  int64
 38  laundry or dry cleaning facility             23022 non-null  int64
 39  laundry room                                 23022 non-null  int64
 40  lawn or garden                               23022 non-null  int64
 41  lobby in building                            23022 non-null  int64
 42  location                                     23022 non-null  object
 43  lounge or sitting room                       23022 non-null  int64
 44  maintenance staff                            23022 non-null  int64
 45  mosque                                       23022 non-null  int64
 46  nearby hospitals                             23022 non-null  int64
 47  nearby public transport service              23022 non-null  int64
 48  nearby restaurants                           23022 non-null  int64
 49  nearby schools                               23022 non-null  int64
 50  nearby shopping malls                        23022 non-null  int64
 51  other business and communication facilities  23022 non-null  int64
 52  other community facilities                   23022 non-null  int64
 53  other facilities                             23022 non-null  int64
 54  other healthcare and recreation facilities   23022 non-null  int64
 55  other main features                          23022 non-null  int64
 56  other nearby places                          23022 non-null  int64
 57  other rooms                                  23022 non-null  int64
 58  parking spaces                               23022 non-null  int64
 59  pet policy                                   23022 non-null  int64
 60  powder room                                  23022 non-null  int64
 61  prayer room                                  23022 non-null  int64
 62  price                                        23022 non-null  object
 63  public parking                               23022 non-null  int64
 64  purpose                                      23022 non-null  object
 65  satellite or cable tv ready                  23022 non-null  int64
 66  sauna                                        23022 non-null  int64
 67  security staff                               23022 non-null  int64
 68  servant quarters                             23022 non-null  int64
 69  service elevators in building                23022 non-null  int64
 70  steam room                                   23022 non-null  int64
 71  store rooms                                  23022 non-null  int64
 72  study room                                   23022 non-null  int64
 73  swimming pool                                23022 non-null  int64
 74  type                                         23022 non-null  object
 75  waste disposal                               23022 non-null  int64
dtypes: int64(72), object(4)
memory usage: 13.3+ MB

In [8]:
df.location.unique()

array(['Bahria Town Karachi, Karachi, Sindh',
       'DHA Defence, Karachi, Sindh', 'Korangi, Karachi, Sindh',
       'Gulshan-e-Iqbal Town, Karachi, Sindh',
       'Scheme 33, Karachi, Sindh', 'Cantt, Karachi, Sindh',
       'Clifton, Karachi, Sindh', 'North Karachi, Karachi, Sindh',
       'Malir, Karachi, Sindh', 'Bath Island, Karachi, Sindh',
       'Navy Housing Scheme Karsaz, Karachi, Sindh',
       'Gulberg Town, Karachi, Sindh', 'Zamzama, Karachi, Sindh',
       'Punjab Chowrangi, Karachi, Sindh', 'Gadap Town, Karachi, Sindh',
       'Gulistan-e-Jauhar, Karachi, Sindh',
       'North Nazimabad, Karachi, Sindh', 'Nazimabad, Karachi, Sindh',
       'Federal B Area, Karachi, Sindh',
       'Shaheed Millat Road, Karachi, Sindh',
       'Jamshed Town, Karachi, Sindh', 'Frere Town, Karachi, Sindh',
       'Civil Lines, Karachi, Sindh', 'Saadi Road, Karachi, Sindh',
       'Shahra-e-Faisal, Karachi, Sindh', 'Mehmoodabad, Karachi, Sindh',
       'DHA City Karachi, Karachi, Sindh', 'Tariq Road, Karachi, Sindh',
       'Rashid Minhas Road, Karachi, Sindh',
       'New Karachi, Karachi, Sindh', 'KDA Scheme 1, Karachi, Sindh',
       'PIB Colony, Karachi, Sindh', 'Gohar Green City, Karachi, Sindh',
       'Gizri, Karachi, Sindh', 'Naya Nazimabad, Karachi, Sindh',
       'Sea View Apartments, Karachi, Sindh',
       'Hub River Road, Karachi, Sindh', 'Super Highway, Karachi, Sindh',
       'Amir Khusro, Karachi, Sindh',
       'Khalid Bin Walid Road, Karachi, Sindh',
       'Manzoor Colony, Karachi, Sindh',
       'Tipu Sultan Road, Karachi, Sindh',
       'Shah Faisal Town, Karachi, Sindh',
       'Khaliq-uz-Zaman Road, Karachi, Sindh',
       'Cotton Export Cooperative Housing Society, Karachi, Sindh',
       'Jinnah Avenue, Karachi, Sindh',
       'Chapal Courtyard, Karachi, Sindh', 'Airport Road, Karachi, Sindh',
       'Falcon Complex Faisal, Karachi, Sindh',
       'University Road, Karachi, Sindh',
       'Defence View Society, Karachi, Sindh',
       'Al-Hilal Society, Karachi, Sindh', 'Jamshed Road, Karachi, Sindh',
       'Malir Link To Super Highway, Karachi, Sindh',
       'P & T Colony, Karachi, Sindh', 'Amil Colony, Karachi, Sindh',
       'Saddar Town, Karachi, Sindh', 'Maskan Chowrangi, Karachi, Sindh',
       'Lyari Town, Karachi, Sindh', 'Metrovil Colony, Karachi, Sindh',
       'M. A. Jinnah Road, Karachi, Sindh',
       'Muslimabad Society, Karachi, Sindh',
       'Police Society, Karachi, Sindh', 'Shadman 2, Karachi, Sindh',
       'Shaheed-e-Millat Expressway, Karachi, Sindh',
       'Saima Luxury Homes, Karachi, Sindh',
       'Cosmopolitan Society, Karachi, Sindh',
       'Bin Qasim Town, Karachi, Sindh', 'Light House, Karachi, Sindh',
       'Garden West, Karachi, Sindh',
       'Friends Royal City, Karachi, Sindh',
       'Stadium Road, Karachi, Sindh', 'Defence Garden, Karachi, Sindh',
       'PTV Society, Karachi, Sindh',
       'Gulshan-e-Usman Housing Society, Karachi, Sindh',
       'Sindh Industrial Trading Estate (SITE), Karachi, Sindh',
       'Dak Khana, Karachi, Sindh',
       'Karachi - Hyderabad Motorway, Karachi, Sindh',
       'Airport, Karachi, Sindh', 'Liaquatabad, Karachi, Sindh',
       'Guru Mandir Chorangi, Karachi, Sindh',
       'Buffer Zone 2, Karachi, Sindh',
       'Karachi Motorway, Karachi, Sindh', 'Orangi Town, Karachi, Sindh',
       'Shahra-e-Liaquat, Karachi, Sindh',
       'Jamaluddin Afghani Road, Karachi, Sindh',
       'Shahra-e-Qaideen, Karachi, Sindh', 'Rabia City, Karachi, Sindh',
       'Nawab Siddique Ali Khan Road, Karachi, Sindh',
       'Rizvia Society, Karachi, Sindh',
       'Sakhi Hassan Chowrangi, Karachi, Sindh',
       'Pakistan Chowk, Karachi, Sindh',
       'Numaish Chowrangi, Karachi, Sindh',
       'Gulshan-e-Malir, Karachi, Sindh', 'Hill Park, Karachi, Sindh',
       'Callachi Cooperative Housing Society, Karachi, Sindh',
       'Abul Hassan Isphani Road, Karachi, Sindh',
       'Comissioner Coop Housing Society, Karachi, Sindh',
       'Shahrah-e-Pakistan, Karachi, Sindh',
       'Old Ravians Co-Operative Housing Society, Karachi, Sindh',
       'Cutchi Memon Cooperative Housing Society, Karachi, Sindh',
       'Old Jamia Millia Road, Karachi, Sindh',
       'Kashmir Road, Karachi, Sindh',
       'Oasis Park Residencia, Karachi, Sindh',
       'Malir Housing Scheme 1, Karachi, Sindh',
       'Falaknaz Dynasty, Karachi, Sindh',
       'Dalmia Cement Factory Road, Karachi, Sindh',
       'BMCHS, Karachi, Sindh', 'Punjab Colony, Karachi, Sindh',
       'Darul Aman Society, Karachi, Sindh',
       'Northern Bypass, Karachi, Sindh', 'Anda Mor Road, Karachi, Sindh',
       'Kemari Town, Karachi, Sindh', 'Hyderi, Karachi, Sindh',
       'Teacher Society, Karachi, Sindh', 'Golimar, Karachi, Sindh',
       'Suparco Road, Karachi, Sindh',
       'Gulshan-e-Areesha, Karachi, Sindh', 'Bilal Town, Karachi, Sindh',
       'Dastgir Colony, Karachi, Sindh',
       'Rufi Lake Drive Apartments, Karachi, Sindh',
       'circular road, Karachi, Sindh',
       'State Bank of Pakistan Staff Co-Operative Housing Society, Karachi, Sindh',
       'Nawaz Sharif Housing Scheme, Karachi, Sindh',
       'Delhi Colony, Karachi, Sindh', 'Landhi, Karachi, Sindh',
       'Surti Muslim Co-Operative Housing Society, Karachi, Sindh',
       'ASF Tower, Karachi, Sindh', 'Baloch Colony, Karachi, Sindh',
       'Pechs I, Karachi, Sindh', 'Gulshan-e-Umair, Karachi, Sindh',
       'Abid Town, Karachi, Sindh', '100 Quarters, Karachi, Sindh',
       'Gulshan-E-Faisal, Karachi, Sindh', 'Baldia Town, Karachi, Sindh',
       'Sharafi Goth, Karachi, Sindh',
       'Abdullah Haroon Road, Karachi, Sindh',
       'Azam Town, Karachi, Sindh', 'Kamran Chowrangi, Karachi, Sindh',
       'Gadap Road, Karachi, Sindh', 'Gulshan-e-Tauheed, Karachi, Sindh',
       'Khudadad Colony, Karachi, Sindh',
       'Hawks Bay Scheme 42, Karachi, Sindh',
       'Liaquat Avenue, Karachi, Sindh', 'Landhi 2, Karachi, Sindh',
       'Mauripur Road, Karachi, Sindh', 'Lines Area, Karachi, Sindh',
       'Sher Shah Suri Road, Karachi, Sindh',
       'Shahra-e-Jahangir, Karachi, Sindh',
       'National Highway, Karachi, Sindh',
       'Gulshan-E-Rabia, Karachi, Sindh', 'City Court, Karachi, Sindh',
       'Hoshang Road, Karachi, Sindh'], dtype=object)

In [9]:
df.location = np.array([one.replace(', Karachi, Sindh' , '') for one in df.location])

In [10]:
df.location.unique()

array(['Bahria Town Karachi', 'DHA Defence', 'Korangi',
       'Gulshan-e-Iqbal Town', 'Scheme 33', 'Cantt', 'Clifton',
       'North Karachi', 'Malir', 'Bath Island',
       'Navy Housing Scheme Karsaz', 'Gulberg Town', 'Zamzama',
       'Punjab Chowrangi', 'Gadap Town', 'Gulistan-e-Jauhar',
       'North Nazimabad', 'Nazimabad', 'Federal B Area',
       'Shaheed Millat Road', 'Jamshed Town', 'Frere Town', 'Civil Lines',
       'Saadi Road', 'Shahra-e-Faisal', 'Mehmoodabad', 'DHA City Karachi',
       'Tariq Road', 'Rashid Minhas Road', 'New Karachi', 'KDA Scheme 1',
       'PIB Colony', 'Gohar Green City', 'Gizri', 'Naya Nazimabad',
       'Sea View Apartments', 'Hub River Road', 'Super Highway',
       'Amir Khusro', 'Khalid Bin Walid Road', 'Manzoor Colony',
       'Tipu Sultan Road', 'Shah Faisal Town', 'Khaliq-uz-Zaman Road',
       'Cotton Export Cooperative Housing Society', 'Jinnah Avenue',
       'Chapal Courtyard', 'Airport Road', 'Falcon Complex Faisal',
       'University Road', 'Defence View Society', 'Al-Hilal Society',
       'Jamshed Road', 'Malir Link To Super Highway', 'P & T Colony',
       'Amil Colony', 'Saddar Town', 'Maskan Chowrangi', 'Lyari Town',
       'Metrovil Colony', 'M. A. Jinnah Road', 'Muslimabad Society',
       'Police Society', 'Shadman 2', 'Shaheed-e-Millat Expressway',
       'Saima Luxury Homes', 'Cosmopolitan Society', 'Bin Qasim Town',
       'Light House', 'Garden West', 'Friends Royal City', 'Stadium Road',
       'Defence Garden', 'PTV Society', 'Gulshan-e-Usman Housing Society',
       'Sindh Industrial Trading Estate (SITE)', 'Dak Khana',
       'Karachi - Hyderabad Motorway', 'Airport', 'Liaquatabad',
       'Guru Mandir Chorangi', 'Buffer Zone 2', 'Karachi Motorway',
       'Orangi Town', 'Shahra-e-Liaquat', 'Jamaluddin Afghani Road',
       'Shahra-e-Qaideen', 'Rabia City', 'Nawab Siddique Ali Khan Road',
       'Rizvia Society', 'Sakhi Hassan Chowrangi', 'Pakistan Chowk',
       'Numaish Chowrangi', 'Gulshan-e-Malir', 'Hill Park',
       'Callachi Cooperative Housing Society', 'Abul Hassan Isphani Road',
       'Comissioner Coop Housing Society', 'Shahrah-e-Pakistan',
       'Old Ravians Co-Operative Housing Society',
       'Cutchi Memon Cooperative Housing Society',
       'Old Jamia Millia Road', 'Kashmir Road', 'Oasis Park Residencia',
       'Malir Housing Scheme 1', 'Falaknaz Dynasty',
       'Dalmia Cement Factory Road', 'BMCHS', 'Punjab Colony',
       'Darul Aman Society', 'Northern Bypass', 'Anda Mor Road',
       'Kemari Town', 'Hyderi', 'Teacher Society', 'Golimar',
       'Suparco Road', 'Gulshan-e-Areesha', 'Bilal Town',
       'Dastgir Colony', 'Rufi Lake Drive Apartments', 'circular road',
       'State Bank of Pakistan Staff Co-Operative Housing Society',
       'Nawaz Sharif Housing Scheme', 'Delhi Colony', 'Landhi',
       'Surti Muslim Co-Operative Housing Society', 'ASF Tower',
       'Baloch Colony', 'Pechs I', 'Gulshan-e-Umair', 'Abid Town',
       '100 Quarters', 'Gulshan-E-Faisal', 'Baldia Town', 'Sharafi Goth',
       'Abdullah Haroon Road', 'Azam Town', 'Kamran Chowrangi',
       'Gadap Road', 'Gulshan-e-Tauheed', 'Khudadad Colony',
       'Hawks Bay Scheme 42', 'Liaquat Avenue', 'Landhi 2',
       'Mauripur Road', 'Lines Area', 'Sher Shah Suri Road',
       'Shahra-e-Jahangir', 'National Highway', 'Gulshan-E-Rabia',
       'City Court', 'Hoshang Road'], dtype=object)

In [11]:
df.price.sample(10)

10445     1.1 Crore
15071    1.35 Crore
18445       6 Crore
3746       16 Crore
17197       95 Lakh
22623       45 Lakh
13733    4.75 Crore
3033     2.25 Crore
11930    17.5 Crore
8864        22 Lakh
Name: price, dtype: object

In [12]:
temp = []
for one in np.array(df.price):
    sep = one.split(" ")
    if sep[1] == "Lakh":
        temp.append(float(sep[0])*100000)
    elif sep[1] == "Crore":
        temp.append(float(sep[0])*10000000)
    elif sep[1] == "Arab":
        temp.append(float(sep[0])*(100*10000000))

df.price = np.array(temp)

In [13]:
df.price.sample(10)

6891     10500000.0
9123     22000000.0
11772    11000000.0
9022     23000000.0
12961    31500000.0
9084     32500000.0
19061     8200000.0
21612     6900000.0
5680      7300000.0
16227     3200000.0
Name: price, dtype: float64

In [14]:
df.price = df.price.astype(float).astype(int)

In [15]:
df.price.sample(10)

3947      5000000
17185    30000000
5512     39900000
21015    60000000
13652     9900000
21636    45000000
7002     45000000
15524     7000000
8974     25000000
10022    83000000
Name: price, dtype: int32

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23022 entries, 0 to 23021
Data columns (total 76 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   area                                         23022 non-null  int64
 1   atm machines                                 23022 non-null  int64
 2   barbeque area                                23022 non-null  int64
 3   bathrooms                                    23022 non-null  int64
 4   baths                                        23022 non-null  int64
 5   bedrooms                                     23022 non-null  int64
 6   beds                                         23022 non-null  int64
 7   broadband internet access                    23022 non-null  int64
 8   built in year                                23022 non-null  int64
 9   business center or media room in building    23022 non-null  int64
 10  cctv security                                23022 non-null  int64
 11  central air conditioning                     23022 non-null  int64
 12  central heating                              23022 non-null  int64
 13  communal/shared kitchen                      23022 non-null  int64
 14  community centre                             23022 non-null  int64
 15  community gym                                23022 non-null  int64
 16  community lawn or garden                     23022 non-null  int64
 17  community swimming pool                      23022 non-null  int64
 18  conference room in building                  23022 non-null  int64
 19  day care centre                              23022 non-null  int64
 20  dining room                                  23022 non-null  int64
 21  distance from airport (kms)                  23022 non-null  int64
 22  double glazed windows                        23022 non-null  int64
 23  drawing room                                 23022 non-null  int64
 24  electricity backup                           23022 non-null  int64
 25  elevators                                    23022 non-null  int64
 26  facilities for disabled                      23022 non-null  int64
 27  first aid or medical centre                  23022 non-null  int64
 28  floor                                        23022 non-null  int64
 29  flooring                                     23022 non-null  int64
 30  floors                                       23022 non-null  int64
 31  floors in building                           23022 non-null  int64
 32  furnished                                    23022 non-null  int64
 33  gym                                          23022 non-null  int64
 34  intercom                                     23022 non-null  int64
 35  jacuzzi                                      23022 non-null  int64
 36  kids play area                               23022 non-null  int64
 37  kitchens                                     23022 non-null  int64
 38  laundry or dry cleaning facility             23022 non-null  int64
 39  laundry room                                 23022 non-null  int64
 40  lawn or garden                               23022 non-null  int64
 41  lobby in building                            23022 non-null  int64
 42  location                                     23022 non-null  object
 43  lounge or sitting room                       23022 non-null  int64
 44  maintenance staff                            23022 non-null  int64
 45  mosque                                       23022 non-null  int64
 46  nearby hospitals                             23022 non-null  int64
 47  nearby public transport service              23022 non-null  int64
 48  nearby restaurants                           23022 non-null  int64
 49  nearby schools                               23022 non-null  int64
 50  nearby shopping malls                        23022 non-null  int64
 51  other business and communication facilities  23022 non-null  int64
 52  other community facilities                   23022 non-null  int64
 53  other facilities                             23022 non-null  int64
 54  other healthcare and recreation facilities   23022 non-null  int64
 55  other main features                          23022 non-null  int64
 56  other nearby places                          23022 non-null  int64
 57  other rooms                                  23022 non-null  int64
 58  parking spaces                               23022 non-null  int64
 59  pet policy                                   23022 non-null  int64
 60  powder room                                  23022 non-null  int64
 61  prayer room                                  23022 non-null  int64
 62  price                                        23022 non-null  int32
 63  public parking                               23022 non-null  int64
 64  purpose                                      23022 non-null  object
 65  satellite or cable tv ready                  23022 non-null  int64
 66  sauna                                        23022 non-null  int64
 67  security staff                               23022 non-null  int64
 68  servant quarters                             23022 non-null  int64
 69  service elevators in building                23022 non-null  int64
 70  steam room                                   23022 non-null  int64
 71  store rooms                                  23022 non-null  int64
 72  study room                                   23022 non-null  int64
 73  swimming pool                                23022 non-null  int64
 74  type                                         23022 non-null  object
 75  waste disposal                               23022 non-null  int64
dtypes: int32(1), int64(72), object(3)
memory usage: 13.3+ MB

In [17]:
toDrop = ["purpose"]

In [18]:
df["location"].unique()

array(['Bahria Town Karachi', 'DHA Defence', 'Korangi',
       'Gulshan-e-Iqbal Town', 'Scheme 33', 'Cantt', 'Clifton',
       'North Karachi', 'Malir', 'Bath Island',
       'Navy Housing Scheme Karsaz', 'Gulberg Town', 'Zamzama',
       'Punjab Chowrangi', 'Gadap Town', 'Gulistan-e-Jauhar',
       'North Nazimabad', 'Nazimabad', 'Federal B Area',
       'Shaheed Millat Road', 'Jamshed Town', 'Frere Town', 'Civil Lines',
       'Saadi Road', 'Shahra-e-Faisal', 'Mehmoodabad', 'DHA City Karachi',
       'Tariq Road', 'Rashid Minhas Road', 'New Karachi', 'KDA Scheme 1',
       'PIB Colony', 'Gohar Green City', 'Gizri', 'Naya Nazimabad',
       'Sea View Apartments', 'Hub River Road', 'Super Highway',
       'Amir Khusro', 'Khalid Bin Walid Road', 'Manzoor Colony',
       'Tipu Sultan Road', 'Shah Faisal Town', 'Khaliq-uz-Zaman Road',
       'Cotton Export Cooperative Housing Society', 'Jinnah Avenue',
       'Chapal Courtyard', 'Airport Road', 'Falcon Complex Faisal',
       'University Road', 'Defence View Society', 'Al-Hilal Society',
       'Jamshed Road', 'Malir Link To Super Highway', 'P & T Colony',
       'Amil Colony', 'Saddar Town', 'Maskan Chowrangi', 'Lyari Town',
       'Metrovil Colony', 'M. A. Jinnah Road', 'Muslimabad Society',
       'Police Society', 'Shadman 2', 'Shaheed-e-Millat Expressway',
       'Saima Luxury Homes', 'Cosmopolitan Society', 'Bin Qasim Town',
       'Light House', 'Garden West', 'Friends Royal City', 'Stadium Road',
       'Defence Garden', 'PTV Society', 'Gulshan-e-Usman Housing Society',
       'Sindh Industrial Trading Estate (SITE)', 'Dak Khana',
       'Karachi - Hyderabad Motorway', 'Airport', 'Liaquatabad',
       'Guru Mandir Chorangi', 'Buffer Zone 2', 'Karachi Motorway',
       'Orangi Town', 'Shahra-e-Liaquat', 'Jamaluddin Afghani Road',
       'Shahra-e-Qaideen', 'Rabia City', 'Nawab Siddique Ali Khan Road',
       'Rizvia Society', 'Sakhi Hassan Chowrangi', 'Pakistan Chowk',
       'Numaish Chowrangi', 'Gulshan-e-Malir', 'Hill Park',
       'Callachi Cooperative Housing Society', 'Abul Hassan Isphani Road',
       'Comissioner Coop Housing Society', 'Shahrah-e-Pakistan',
       'Old Ravians Co-Operative Housing Society',
       'Cutchi Memon Cooperative Housing Society',
       'Old Jamia Millia Road', 'Kashmir Road', 'Oasis Park Residencia',
       'Malir Housing Scheme 1', 'Falaknaz Dynasty',
       'Dalmia Cement Factory Road', 'BMCHS', 'Punjab Colony',
       'Darul Aman Society', 'Northern Bypass', 'Anda Mor Road',
       'Kemari Town', 'Hyderi', 'Teacher Society', 'Golimar',
       'Suparco Road', 'Gulshan-e-Areesha', 'Bilal Town',
       'Dastgir Colony', 'Rufi Lake Drive Apartments', 'circular road',
       'State Bank of Pakistan Staff Co-Operative Housing Society',
       'Nawaz Sharif Housing Scheme', 'Delhi Colony', 'Landhi',
       'Surti Muslim Co-Operative Housing Society', 'ASF Tower',
       'Baloch Colony', 'Pechs I', 'Gulshan-e-Umair', 'Abid Town',
       '100 Quarters', 'Gulshan-E-Faisal', 'Baldia Town', 'Sharafi Goth',
       'Abdullah Haroon Road', 'Azam Town', 'Kamran Chowrangi',
       'Gadap Road', 'Gulshan-e-Tauheed', 'Khudadad Colony',
       'Hawks Bay Scheme 42', 'Liaquat Avenue', 'Landhi 2',
       'Mauripur Road', 'Lines Area', 'Sher Shah Suri Road',
       'Shahra-e-Jahangir', 'National Highway', 'Gulshan-E-Rabia',
       'City Court', 'Hoshang Road'], dtype=object)

In [19]:
temp = df['location'].value_counts().index.tolist()
tempLocation = df['location']
for i, one in enumerate(df["location"].value_counts()):
    if int(one) <= 500:
        tempLocation = np.array([jj.replace(temp[i] , 'Others') if jj == temp[i] else jj for jj in tempLocation])
        
# tempLocation.value_counts()
df['location'] = (np.array(tempLocation))
# unique_elements, counts_elements = np.unique(tempLocation, return_counts=True)
# print("Frequency of unique values of the said array:")
# print(np.asarray((unique_elements, counts_elements)))

In [20]:
df.location.head(5)

0    Bahria Town Karachi
1            DHA Defence
2    Bahria Town Karachi
3    Bahria Town Karachi
4    Bahria Town Karachi
Name: location, dtype: object

In [21]:
df.location.value_counts()

Bahria Town Karachi     4910
Others                  3605
DHA Defence             3428
Gulshan-e-Iqbal Town    1962
Gulistan-e-Jauhar       1851
Cantt                   1292
Scheme 33               1267
Malir                    987
North Nazimabad          951
Gadap Town               946
Clifton                  651
Jamshed Town             592
Federal B Area           580
Name: location, dtype: int64

In [22]:
types = pd.get_dummies(df["location"])
df = pd.concat([df,types],axis=1)

df.drop("location",axis=1,inplace=True)

df.head(2)

,area,atm machines,barbeque area,bathrooms,baths,bedrooms,beds,broadband internet access,built in year,business center or media room in building,...,DHA Defence,Federal B Area,Gadap Town,Gulistan-e-Jauhar,Gulshan-e-Iqbal Town,Jamshed Town,Malir,North Nazimabad,Others,Scheme 33
0,55,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,150,0,0,0,4,4,4,0,2022,0,...,1,0,0,0,0,0,0,0,0,0

In [23]:
df["type"].unique()

array(['Flat', 'House', 'Upper Portion', 'Lower Portion', 'Penthouse',
       'Farm House', 'Room'], dtype=object)

In [24]:
types = pd.get_dummies(df["type"])
df = pd.concat([df,types],axis=1)

df.drop("type",axis=1,inplace=True)

df.head(2)

,area,atm machines,barbeque area,bathrooms,baths,bedrooms,beds,broadband internet access,built in year,business center or media room in building,...,North Nazimabad,Others,Scheme 33,Farm House,Flat,House,Lower Portion,Penthouse,Room,Upper Portion
0,55,0,0,1,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,150,0,0,0,4,4,4,0,2022,0,...,0,0,0,0,0,1,0,0,0,0

In [25]:
df = df.drop(toDrop, axis=1)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23022 entries, 0 to 23021
Data columns (total 93 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   area                                         23022 non-null  int64
 1   atm machines                                 23022 non-null  int64
 2   barbeque area                                23022 non-null  int64
 3   bathrooms                                    23022 non-null  int64
 4   baths                                        23022 non-null  int64
 5   bedrooms                                     23022 non-null  int64
 6   beds                                         23022 non-null  int64
 7   broadband internet access                    23022 non-null  int64
 8   built in year                                23022 non-null  int64
 9   business center or media room in building    23022 non-null  int64
 10  cctv security                                23022 non-null  int64
 11  central air conditioning                     23022 non-null  int64
 12  central heating                              23022 non-null  int64
 13  communal/shared kitchen                      23022 non-null  int64
 14  community centre                             23022 non-null  int64
 15  community gym                                23022 non-null  int64
 16  community lawn or garden                     23022 non-null  int64
 17  community swimming pool                      23022 non-null  int64
 18  conference room in building                  23022 non-null  int64
 19  day care centre                              23022 non-null  int64
 20  dining room                                  23022 non-null  int64
 21  distance from airport (kms)                  23022 non-null  int64
 22  double glazed windows                        23022 non-null  int64
 23  drawing room                                 23022 non-null  int64
 24  electricity backup                           23022 non-null  int64
 25  elevators                                    23022 non-null  int64
 26  facilities for disabled                      23022 non-null  int64
 27  first aid or medical centre                  23022 non-null  int64
 28  floor                                        23022 non-null  int64
 29  flooring                                     23022 non-null  int64
 30  floors                                       23022 non-null  int64
 31  floors in building                           23022 non-null  int64
 32  furnished                                    23022 non-null  int64
 33  gym                                          23022 non-null  int64
 34  intercom                                     23022 non-null  int64
 35  jacuzzi                                      23022 non-null  int64
 36  kids play area                               23022 non-null  int64
 37  kitchens                                     23022 non-null  int64
 38  laundry or dry cleaning facility             23022 non-null  int64
 39  laundry room                                 23022 non-null  int64
 40  lawn or garden                               23022 non-null  int64
 41  lobby in building                            23022 non-null  int64
 42  lounge or sitting room                       23022 non-null  int64
 43  maintenance staff                            23022 non-null  int64
 44  mosque                                       23022 non-null  int64
 45  nearby hospitals                             23022 non-null  int64
 46  nearby public transport service              23022 non-null  int64
 47  nearby restaurants                           23022 non-null  int64
 48  nearby schools                               23022 non-null  int64
 49  nearby shopping malls                        23022 non-null  int64
 50  other business and communication facilities  23022 non-null  int64
 51  other community facilities                   23022 non-null  int64
 52  other facilities                             23022 non-null  int64
 53  other healthcare and recreation facilities   23022 non-null  int64
 54  other main features                          23022 non-null  int64
 55  other nearby places                          23022 non-null  int64
 56  other rooms                                  23022 non-null  int64
 57  parking spaces                               23022 non-null  int64
 58  pet policy                                   23022 non-null  int64
 59  powder room                                  23022 non-null  int64
 60  prayer room                                  23022 non-null  int64
 61  price                                        23022 non-null  int32
 62  public parking                               23022 non-null  int64
 63  satellite or cable tv ready                  23022 non-null  int64
 64  sauna                                        23022 non-null  int64
 65  security staff                               23022 non-null  int64
 66  servant quarters                             23022 non-null  int64
 67  service elevators in building                23022 non-null  int64
 68  steam room                                   23022 non-null  int64
 69  store rooms                                  23022 non-null  int64
 70  study room                                   23022 non-null  int64
 71  swimming pool                                23022 non-null  int64
 72  waste disposal                               23022 non-null  int64
 73  Bahria Town Karachi                          23022 non-null  uint8
 74  Cantt                                        23022 non-null  uint8
 75  Clifton                                      23022 non-null  uint8
 76  DHA Defence                                  23022 non-null  uint8
 77  Federal B Area                               23022 non-null  uint8
 78  Gadap Town                                   23022 non-null  uint8
 79  Gulistan-e-Jauhar                            23022 non-null  uint8
 80  Gulshan-e-Iqbal Town                         23022 non-null  uint8
 81  Jamshed Town                                 23022 non-null  uint8
 82  Malir                                        23022 non-null  uint8
 83  North Nazimabad                              23022 non-null  uint8
 84  Others                                       23022 non-null  uint8
 85  Scheme 33                                    23022 non-null  uint8
 86  Farm House                                   23022 non-null  uint8
 87  Flat                                         23022 non-null  uint8
 88  House                                        23022 non-null  uint8
 89  Lower Portion                                23022 non-null  uint8
 90  Penthouse                                    23022 non-null  uint8
 91  Room                                         23022 non-null  uint8
 92  Upper Portion                                23022 non-null  uint8
dtypes: int32(1), int64(72), uint8(20)
memory usage: 13.2 MB

In [27]:
print(len(df),"Before")
df.drop_duplicates()
print(len(df),"After")

23022 Before
23022 After

In [28]:
df.head(3)

,area,atm machines,barbeque area,bathrooms,baths,bedrooms,beds,broadband internet access,built in year,business center or media room in building,...,North Nazimabad,Others,Scheme 33,Farm House,Flat,House,Lower Portion,Penthouse,Room,Upper Portion
0,55,0,0,1,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,150,0,0,0,4,4,4,0,2022,0,...,0,0,0,0,0,1,0,0,0,0
2,500,0,0,6,6,5,5,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [29]:
df.to_csv("zameen_karachi_cleaned_data.csv", index=False)